@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    gap: 8cm;
    background-color: white;
    padding: 15px;
}

.ok {
    display: flex;
    gap: 2cm;
}

.navbar {
    display: flex;
    gap: 7px;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

.nav {
    font-family: "Permanent Marker", cursive;
}

.color {
    background-color: #A1B2FC;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 5px solid #072ac8;
}


.search {
    font-family: "Play", sans-serif;
    width: 20cm;
    height: 1.5cm;
    color: black;
    padding-left: 50px;
    border-radius: 5px;
    font-size: 22px;
    box-shadow: #15f00562 0px 30px 60px -12px inset, #df13dffd 0px 18px 36px -18px inset;
}

#profile {
    font-size: 24px;
}

#down {
    margin-top: 4px;
    transition: transform .3s ease-in-out;
}

.transform {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    background-color: white;
    z-index: 2;
    padding: 15px;
    width: 3.5cm;
    text-align: center;
    margin-top: 23px;
    height: 0cm;
    display: none;
    transition: .3s;
}

ul {
    list-style: none;
    display: none;
}

.link2 {
    font-size: 18px;
}

.show {
    display: block;
    height: 3cm;
}